//--------FONTS----------

$font_roboto-m: 'Roboto-medium', sans-serif;
$font_roboto-l: 'Roboto-light', sans-serif;
$font_roboto-r: 'Roboto-regular', sans-serif;
$font_roboto-b: 'Roboto-bold', sans-serif;

//-----------COLORS-------------

$color_gradient: linear-gradient(180deg, #00AFED 0%, #00569A 100%);;
$color_primary: #0076C0;
$color_seconadry: #333333;
$color_error: #D60000;
$color_succes: #9A9A9A;
$color_focus: #101010;
