@import "./utils/fonts";
@import "./utils/variables";


*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: $font_roboto-r;
  font-size: 16px;
  line-height: 25px;
  color: $color_seconadry;
}